{% extends 'base.html' %}
{% block title %}Profil{% endblock %}
{% load static %}
{% block content %}

<!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Profil Güncellemesi</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="/"> Anasayfa </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        Profil Güncellemesi
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="..." />
    </header>

<!-- Card -->
    <div class="card" style="width: 80%; margin-left: 10%; margin-bottom: 25%;">
        {% include 'components/msg.html' %}
        <br>
        <div class="card-body">
            <form method="post" action="{% url 'profile_update' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-4">
                            <label>Ad</label>
                            <input type="text" class="form-control" placeholder="Adınızı Giriniz" name="first_name"
                                value="{{user.first_name}}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-4">
                            <label>Soyad</label>
                            <input type="text" class="form-control" placeholder="Soyadınızı Giriniz" name="last_name"
                                value="{{user.last_name}}" />
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <div class="form-group mb-4">
                            <label>E-Posta</label>
                            <input type="email" class="form-control" placeholder="E-postanızı Giriniz" name="email" readonly
                                value="{{user.email}}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-4">
                            <label>Kullanıcı Adı</label>
                            <input type="text" class="form-control" placeholder="Kullanıcı Adınızı Giriniz" name="username" readonly
                                value="{{user.username}}" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-4">
                            <label>Şifre</label>
                            <input type="password" class="form-control"
                                placeholder="Yalnızca Şifreyi Değiştirmek İstiyorsanız Doldurun" name="password" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Profili Güncelle</button>
            </form>
        </div>
    </div>
{% endblock content %}