{% extends "base.html" %}
{% block title %}Kadromuz{% endblock %}
{% load static %} 
{% block content %}
{% load course_tags %}



    <!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Kadromuz</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="/">
                            Anasayfa
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        Kadromuz
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>


    <div class="container pb-4 pb-xl-7">
        <div class="py-8 py-md-7">
            <h1 class="display-4 fw-semi-bold mb-0 text-center">Yöneticilerimiz</h1>
        </div>
        <div class="row row-cols-md-3 row-cols-lg-4 mb-6 mb-xl-3">
            {% for member in ourTeam %}
                <div class="col-md pb-4 pb-md-7">
                    <div class="card border shadow p-2 lift">
                        <!-- Image -->
                        <div class="card-zoom position-relative">
                            <!-- Social Media Icons -->
                            {% comment %} <div class="card-float card-hover right-0 left-0 bottom-0 mb-4">
                                <ul class="nav mx-n4 justify-content-center">
                                    <li class="nav-item px-4">
                                        <a href="https://m.facebook.com/profile.php/?id=100011574828833" class="d-block text-white">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a href="https://twitter.com/merveonlnn" class="d-block text-white">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a href="https://www.instagram.com/merveonlnn?igsh=MWk5cDZlcXl4ZHlwYw==" class="d-block text-white">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item px-4">
                                        <a href="www.linkedin.com/in/merve-önalan" class="d-block text-white">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> {% endcomment %}
    
                            <!-- Instructor Image -->
                            <a class="card-img sk-thumbnail img-ratio-4 card-hover-overlay d-block">
                                <img class="rounded shadow-light-lg img-fluid" src="{{ member.our_team.url }}" alt="{{ member.ourTeam_name }} Profile">
                            </a>
                        </div>
    
                        <!-- Footer -->
                        <div class="card-footer px-3 pt-4 pb-1">
                            <a class="d-block">
                                <h5 class="mb-0">{{ member.ourTeam_name }}</h5>
                            </a>
                            <span class="font-size-d-sm">{{ member.ourTeam_title }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    
    <!-- COURSE
    ================================================== -->
    <div class="container pb-4 pb-xl-7">
        <div class="py-8 py-md-7">
            <h1 class="display-4 fw-semi-bold mb-0 text-center">Eğitmenlerimiz</h1>
        </div>
        
        <div class="row row-cols-md-3 row-cols-lg-4 mb-6 mb-xl-3">
            {% for author in authors %}
            <div class="col-md pb-4 pb-md-7">
                <div class="card border shadow p-2 lift">
                    <!-- Image -->
                    <div class="card-zoom position-relative" >
                        {% comment %}<div class="card-float card-hover right-0 left-0 bottom-0 mb-4">
                            <ul class="nav mx-n4 justify-content-center">
                                <li class="nav-item px-4">
                                    <a href="#" class="d-block text-white">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="nav-item px-4">
                                    <a href="#" class="d-block text-white">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="nav-item px-4">
                                    <a href="#" class="d-block text-white">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="nav-item px-4">
                                    <a href="#" class="d-block text-white">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> {% endcomment %}

                        <a class="card-img sk-thumbnail img-ratio-4 card-hover-overlay d-block">
                            <img class="rounded shadow-light-lg img-fluid" src="{{ author.author_profile.url }}" alt="{{ author.name }} Profile">
                        </a>
                    </div>

                    <!-- Footer -->
                    <div class="card-footer px-3 pt-4 pb-1">
                        <a class="d-block">
                            <h5 class="mb-0">{{ author.name }}</h5>
                        </a>
                        <span class="font-size-d-sm">{{author.title}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>




{% endblock content %}